<h1>Stats! Stats! Stats!</h1>

<dl>
  <dt>Games played:</dt>
  <dd><%= @count %></dd>

  <dt>Longest game:</dt>
  <dd><%= @max %> turns</dd>

  <dt>Shortest game:</dt>
  <dd><%= @min %> turns</dd>

</dl>
